/*This file demonstrates a CSS style sheet with google font and background color*/
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:900');
body{
	background-color: beige;

	/*change the font for the whole page*/
	font-family: "Lucida Console", Monaco, monospace; 

	/*center the text and image in the center of the page*/
	text-align: center;

}

h1{
	font-family: 'Cinzel Decorative', cursive;
}

img{
	
}

a {
	color: blue;
}

/*
font resource
1) Web safe font 
   https://www.w3schools.com/cssref/css_websafe_fonts.asp 

2) Google font


steps to add a google font to a style sheet (CSS)
1) choose the font by clicking the "+" sign
2) load the font (@import)
3) assign the font



*/